In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:

data = pd.read_csv('TESTS_ball_by_ball.csv')
innings1 = data.loc[data['innings'] == 1]

data.drop(columns=['season','striker','start_date','non_striker','innings'], inplace=True)
data.drop(columns=['bowler'], inplace=True)

data

C:\Users\rahul\AppData\Local\Temp\ipykernel_16376\869292632.py:1: DtypeWarning: Columns (1,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('TESTS_ball_by_ball.csv')

,match_id,venue,ball,batting_team,bowling_team,runs_off_bat,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,64012,Melbourne Cricket Ground,0.1,Australia,England,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,64012,Melbourne Cricket Ground,0.2,Australia,England,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,64012,Melbourne Cricket Ground,0.3,Australia,England,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,64012,Melbourne Cricket Ground,0.4,Australia,England,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,64012,Melbourne Cricket Ground,0.5,Australia,England,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1544290,1363448,Galle International Stadium,76.5,Ireland,Sri Lanka,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1544291,1363448,Galle International Stadium,76.6,Ireland,Sri Lanka,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1544292,1363448,Galle International Stadium,77.1,Ireland,Sri Lanka,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1544293,1363448,Galle International Stadium,77.2,Ireland,Sri Lanka,0,0,NaN,NaN,NaN,NaN,NaN,bowled,HT Tector,NaN,NaN
1544294,1363448,Galle International Stadium,77.3,Ireland,Sri Lanka,0,0,NaN,NaN,NaN,NaN,NaN,bowled,B White,NaN,NaN

In [4]:
data.isnull().sum()

match_id                        0
venue                           0
ball                            0
batting_team                    0
bowling_team                    0
runs_off_bat                    0
extras                          0
wides                     1540755
noballs                   1534866
byes                      1539930
legbyes                   1534369
penalty                   1544253
wicket_type               1519259
player_dismissed          1519259
other_wicket_type         1544294
other_player_dismissed    1544294
dtype: int64

In [5]:
data.fillna(0, inplace=True)
data.isnull().sum()

match_id                  0
venue                     0
ball                      0
batting_team              0
bowling_team              0
runs_off_bat              0
extras                    0
wides                     0
noballs                   0
byes                      0
legbyes                   0
penalty                   0
wicket_type               0
player_dismissed          0
other_wicket_type         0
other_player_dismissed    0
dtype: int64

In [6]:
data['runs'] = data['runs_off_bat'] + data['extras'] + data['wides'] + data['noballs'] + data['byes'] + data['legbyes'] + data['penalty']
data

,match_id,venue,ball,batting_team,bowling_team,runs_off_bat,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,runs
0,64012,Melbourne Cricket Ground,0.1,Australia,England,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0
1,64012,Melbourne Cricket Ground,0.2,Australia,England,3,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,3.0
2,64012,Melbourne Cricket Ground,0.3,Australia,England,4,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,4.0
3,64012,Melbourne Cricket Ground,0.4,Australia,England,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0
4,64012,Melbourne Cricket Ground,0.5,Australia,England,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1544290,1363448,Galle International Stadium,76.5,Ireland,Sri Lanka,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0
1544291,1363448,Galle International Stadium,76.6,Ireland,Sri Lanka,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0
1544292,1363448,Galle International Stadium,77.1,Ireland,Sri Lanka,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0
1544293,1363448,Galle International Stadium,77.2,Ireland,Sri Lanka,0,0,0.0,0.0,0.0,0.0,0.0,bowled,HT Tector,0,0,0.0
1544294,1363448,Galle International Stadium,77.3,Ireland,Sri Lanka,0,0,0.0,0.0,0.0,0.0,0.0,bowled,B White,0,0,0.0

In [7]:
data.drop(columns=['extras','wides','runs_off_bat','noballs','byes','legbyes','penalty'], inplace=True)
data

,match_id,venue,ball,batting_team,bowling_team,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,runs
0,64012,Melbourne Cricket Ground,0.1,Australia,England,0,0,0,0,0.0
1,64012,Melbourne Cricket Ground,0.2,Australia,England,0,0,0,0,3.0
2,64012,Melbourne Cricket Ground,0.3,Australia,England,0,0,0,0,4.0
3,64012,Melbourne Cricket Ground,0.4,Australia,England,0,0,0,0,0.0
4,64012,Melbourne Cricket Ground,0.5,Australia,England,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...
1544290,1363448,Galle International Stadium,76.5,Ireland,Sri Lanka,0,0,0,0,0.0
1544291,1363448,Galle International Stadium,76.6,Ireland,Sri Lanka,0,0,0,0,0.0
1544292,1363448,Galle International Stadium,77.1,Ireland,Sri Lanka,0,0,0,0,0.0
1544293,1363448,Galle International Stadium,77.2,Ireland,Sri Lanka,bowled,HT Tector,0,0,0.0
1544294,1363448,Galle International Stadium,77.3,Ireland,Sri Lanka,bowled,B White,0,0,0.0

In [8]:
data['batting_team'].unique()

array(['Australia', 'England', 'South Africa', 'Pakistan', 'West Indies',
       'Bangladesh', 'Zimbabwe', 'New Zealand', 'India', 'Sri Lanka',
       'ICC World XI', 'Ireland', 'Afghanistan'], dtype=object)

In [9]:
teams=['Australia', 'England', 'South Africa', 'Pakistan', 'West Indies',
       'Bangladesh', 'Zimbabwe', 'New Zealand', 'India', 'Sri Lanka',
       'ICC World XI', 'Ireland', 'Afghanistan']
data = data[data['batting_team'].isin(teams)]
data = data[data['bowling_team'].isin(teams)]
data

,match_id,venue,ball,batting_team,bowling_team,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,runs
0,64012,Melbourne Cricket Ground,0.1,Australia,England,0,0,0,0,0.0
1,64012,Melbourne Cricket Ground,0.2,Australia,England,0,0,0,0,3.0
2,64012,Melbourne Cricket Ground,0.3,Australia,England,0,0,0,0,4.0
3,64012,Melbourne Cricket Ground,0.4,Australia,England,0,0,0,0,0.0
4,64012,Melbourne Cricket Ground,0.5,Australia,England,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...
1544290,1363448,Galle International Stadium,76.5,Ireland,Sri Lanka,0,0,0,0,0.0
1544291,1363448,Galle International Stadium,76.6,Ireland,Sri Lanka,0,0,0,0,0.0
1544292,1363448,Galle International Stadium,77.1,Ireland,Sri Lanka,0,0,0,0,0.0
1544293,1363448,Galle International Stadium,77.2,Ireland,Sri Lanka,bowled,HT Tector,0,0,0.0
1544294,1363448,Galle International Stadium,77.3,Ireland,Sri Lanka,bowled,B White,0,0,0.0

In [10]:
eligible_venue = data['venue'].value_counts()[data['venue'].value_counts() > 3000].index.tolist()
data = data[data['venue'].isin(eligible_venue)]
data

,match_id,venue,ball,batting_team,bowling_team,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,runs
0,64012,Melbourne Cricket Ground,0.1,Australia,England,0,0,0,0,0.0
1,64012,Melbourne Cricket Ground,0.2,Australia,England,0,0,0,0,3.0
2,64012,Melbourne Cricket Ground,0.3,Australia,England,0,0,0,0,4.0
3,64012,Melbourne Cricket Ground,0.4,Australia,England,0,0,0,0,0.0
4,64012,Melbourne Cricket Ground,0.5,Australia,England,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...
1544290,1363448,Galle International Stadium,76.5,Ireland,Sri Lanka,0,0,0,0,0.0
1544291,1363448,Galle International Stadium,76.6,Ireland,Sri Lanka,0,0,0,0,0.0
1544292,1363448,Galle International Stadium,77.1,Ireland,Sri Lanka,0,0,0,0,0.0
1544293,1363448,Galle International Stadium,77.2,Ireland,Sri Lanka,bowled,HT Tector,0,0,0.0
1544294,1363448,Galle International Stadium,77.3,Ireland,Sri Lanka,bowled,B White,0,0,0.0

In [20]:
data['cur_score'] = data.groupby('match_id')['runs'].cumsum()
data

C:\Users\rahul\AppData\Local\Temp\ipykernel_16376\2478728044.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['cur_score'] = data.groupby('match_id')['runs'].cumsum()

,match_id,venue,ball,batting_team,bowling_team,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,runs,cur_score
0,64012,Melbourne Cricket Ground,0.1,Australia,England,0,0,0,0,0.0,0.0
1,64012,Melbourne Cricket Ground,0.2,Australia,England,0,0,0,0,3.0,3.0
2,64012,Melbourne Cricket Ground,0.3,Australia,England,0,0,0,0,4.0,7.0
3,64012,Melbourne Cricket Ground,0.4,Australia,England,0,0,0,0,0.0,7.0
4,64012,Melbourne Cricket Ground,0.5,Australia,England,0,0,0,0,0.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...
1544290,1363448,Galle International Stadium,76.5,Ireland,Sri Lanka,0,0,0,0,0.0,1436.0
1544291,1363448,Galle International Stadium,76.6,Ireland,Sri Lanka,0,0,0,0,0.0,1436.0
1544292,1363448,Galle International Stadium,77.1,Ireland,Sri Lanka,0,0,0,0,0.0,1436.0
1544293,1363448,Galle International Stadium,77.2,Ireland,Sri Lanka,bowled,HT Tector,0,0,0.0,1436.0
1544294,1363448,Galle International Stadium,77.3,Ireland,Sri Lanka,bowled,B White,0,0,0.0,1436.0

In [21]:
data.drop(columns=['player_dismissed','other_player_dismissed'], inplace=True)

data['over'] = data['ball'].apply(lambda x:str(x).split(".")[0])
data['ball_no'] = data['ball'].apply(lambda x:str(x).split(".")[1])

data

C:\Users\rahul\AppData\Local\Temp\ipykernel_16376\2862499946.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns=['player_dismissed','other_player_dismissed'], inplace=True)
C:\Users\rahul\AppData\Local\Temp\ipykernel_16376\2862499946.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['over'] = data['ball'].apply(lambda x:str(x).split(".")[0])
C:\Users\rahul\AppData\Local\Temp\ipykernel_16376\2862499946.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['ball_no'] = data['ball'].apply(lambda x:str(x).split(".")[1])

,match_id,venue,ball,batting_team,bowling_team,wicket_type,other_wicket_type,runs,cur_score,over,ball_no
0,64012,Melbourne Cricket Ground,0.1,Australia,England,0,0,0.0,0.0,0,1
1,64012,Melbourne Cricket Ground,0.2,Australia,England,0,0,3.0,3.0,0,2
2,64012,Melbourne Cricket Ground,0.3,Australia,England,0,0,4.0,7.0,0,3
3,64012,Melbourne Cricket Ground,0.4,Australia,England,0,0,0.0,7.0,0,4
4,64012,Melbourne Cricket Ground,0.5,Australia,England,0,0,0.0,7.0,0,5
...,...,...,...,...,...,...,...,...,...,...,...
1544290,1363448,Galle International Stadium,76.5,Ireland,Sri Lanka,0,0,0.0,1436.0,76,5
1544291,1363448,Galle International Stadium,76.6,Ireland,Sri Lanka,0,0,0.0,1436.0,76,6
1544292,1363448,Galle International Stadium,77.1,Ireland,Sri Lanka,0,0,0.0,1436.0,77,1
1544293,1363448,Galle International Stadium,77.2,Ireland,Sri Lanka,bowled,0,0.0,1436.0,77,2
1544294,1363448,Galle International Stadium,77.3,Ireland,Sri Lanka,bowled,0,0.0,1436.0,77,3

In [22]:
data['balls_bowled'] = (data['over'].astype('int')*6) + data['ball_no'].astype('int')
data['balls_left'] = 300 - data['balls_bowled']
data['balls_left'] = data['balls_left'].apply(lambda x:0 if x<0 else x)
data

C:\Users\rahul\AppData\Local\Temp\ipykernel_16376\1072967687.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['balls_bowled'] = (data['over'].astype('int')*6) + data['ball_no'].astype('int')
C:\Users\rahul\AppData\Local\Temp\ipykernel_16376\1072967687.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['balls_left'] = 300 - data['balls_bowled']
C:\Users\rahul\AppData\Local\Temp\ipykernel_16376\1072967687.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['balls_left'] = data['balls_left'].apply(lambda x:0 if x<0 else x)

,match_id,venue,ball,batting_team,bowling_team,wicket_type,other_wicket_type,runs,cur_score,over,ball_no,balls_bowled,balls_left
0,64012,Melbourne Cricket Ground,0.1,Australia,England,0,0,0.0,0.0,0,1,1,299
1,64012,Melbourne Cricket Ground,0.2,Australia,England,0,0,3.0,3.0,0,2,2,298
2,64012,Melbourne Cricket Ground,0.3,Australia,England,0,0,4.0,7.0,0,3,3,297
3,64012,Melbourne Cricket Ground,0.4,Australia,England,0,0,0.0,7.0,0,4,4,296
4,64012,Melbourne Cricket Ground,0.5,Australia,England,0,0,0.0,7.0,0,5,5,295
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1544290,1363448,Galle International Stadium,76.5,Ireland,Sri Lanka,0,0,0.0,1436.0,76,5,461,0
1544291,1363448,Galle International Stadium,76.6,Ireland,Sri Lanka,0,0,0.0,1436.0,76,6,462,0
1544292,1363448,Galle International Stadium,77.1,Ireland,Sri Lanka,0,0,0.0,1436.0,77,1,463,0
1544293,1363448,Galle International Stadium,77.2,Ireland,Sri Lanka,bowled,0,0.0,1436.0,77,2,464,0
1544294,1363448,Galle International Stadium,77.3,Ireland,Sri Lanka,bowled,0,0.0,1436.0,77,3,465,0

In [23]:
data['wicket_type'] = data['wicket_type'].apply(lambda x:0 if x==0 else 1)
data['other_wicket_type'] = data['other_wicket_type'].apply(lambda x:0 if x==0 else 1)
data['wicket'] = data['other_wicket_type'] + data['wicket_type']
data

C:\Users\rahul\AppData\Local\Temp\ipykernel_16376\3644320693.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['wicket_type'] = data['wicket_type'].apply(lambda x:0 if x==0 else 1)
C:\Users\rahul\AppData\Local\Temp\ipykernel_16376\3644320693.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['other_wicket_type'] = data['other_wicket_type'].apply(lambda x:0 if x==0 else 1)
C:\Users\rahul\AppData\Local\Temp\ipykernel_16376\3644320693.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['wicket'] = data['other_wicket_type'] + data['wicket_type']

,match_id,venue,ball,batting_team,bowling_team,wicket_type,other_wicket_type,runs,cur_score,over,ball_no,balls_bowled,balls_left,wicket
0,64012,Melbourne Cricket Ground,0.1,Australia,England,0,0,0.0,0.0,0,1,1,299,0
1,64012,Melbourne Cricket Ground,0.2,Australia,England,0,0,3.0,3.0,0,2,2,298,0
2,64012,Melbourne Cricket Ground,0.3,Australia,England,0,0,4.0,7.0,0,3,3,297,0
3,64012,Melbourne Cricket Ground,0.4,Australia,England,0,0,0.0,7.0,0,4,4,296,0
4,64012,Melbourne Cricket Ground,0.5,Australia,England,0,0,0.0,7.0,0,5,5,295,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1544290,1363448,Galle International Stadium,76.5,Ireland,Sri Lanka,0,0,0.0,1436.0,76,5,461,0,0
1544291,1363448,Galle International Stadium,76.6,Ireland,Sri Lanka,0,0,0.0,1436.0,76,6,462,0,0
1544292,1363448,Galle International Stadium,77.1,Ireland,Sri Lanka,0,0,0.0,1436.0,77,1,463,0,0
1544293,1363448,Galle International Stadium,77.2,Ireland,Sri Lanka,1,0,0.0,1436.0,77,2,464,0,1
1544294,1363448,Galle International Stadium,77.3,Ireland,Sri Lanka,1,0,0.0,1436.0,77,3,465,0,1

In [25]:
data['wickets_left'] = 10 - data.groupby('match_id')['wicket'].cumsum()
data

C:\Users\rahul\AppData\Local\Temp\ipykernel_16376\4010065614.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['wickets_left'] = 10 - data.groupby('match_id')['wicket'].cumsum()

,match_id,venue,ball,batting_team,bowling_team,wicket_type,other_wicket_type,runs,cur_score,over,ball_no,balls_bowled,balls_left,wicket,wickets_left
0,64012,Melbourne Cricket Ground,0.1,Australia,England,0,0,0.0,0.0,0,1,1,299,0,10
1,64012,Melbourne Cricket Ground,0.2,Australia,England,0,0,3.0,3.0,0,2,2,298,0,10
2,64012,Melbourne Cricket Ground,0.3,Australia,England,0,0,4.0,7.0,0,3,3,297,0,10
3,64012,Melbourne Cricket Ground,0.4,Australia,England,0,0,0.0,7.0,0,4,4,296,0,10
4,64012,Melbourne Cricket Ground,0.5,Australia,England,0,0,0.0,7.0,0,5,5,295,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1544290,1363448,Galle International Stadium,76.5,Ireland,Sri Lanka,0,0,0.0,1436.0,76,5,461,0,0,-12
1544291,1363448,Galle International Stadium,76.6,Ireland,Sri Lanka,0,0,0.0,1436.0,76,6,462,0,0,-12
1544292,1363448,Galle International Stadium,77.1,Ireland,Sri Lanka,0,0,0.0,1436.0,77,1,463,0,0,-12
1544293,1363448,Galle International Stadium,77.2,Ireland,Sri Lanka,1,0,0.0,1436.0,77,2,464,0,1,-13
1544294,1363448,Galle International Stadium,77.3,Ireland,Sri Lanka,1,0,0.0,1436.0,77,3,465,0,1,-14

In [26]:
data.drop(columns=['wicket_type','other_wicket_type','wicket'], inplace=True)

data['crr'] = (data['cur_score']*6)/data['balls_bowled']
data

C:\Users\rahul\AppData\Local\Temp\ipykernel_16376\3431515908.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns=['wicket_type','other_wicket_type','wicket'], inplace=True)
C:\Users\rahul\AppData\Local\Temp\ipykernel_16376\3431515908.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['crr'] = (data['cur_score']*6)/data['balls_bowled']

,match_id,venue,ball,batting_team,bowling_team,runs,cur_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr
0,64012,Melbourne Cricket Ground,0.1,Australia,England,0.0,0.0,0,1,1,299,10,0.000000
1,64012,Melbourne Cricket Ground,0.2,Australia,England,3.0,3.0,0,2,2,298,10,9.000000
2,64012,Melbourne Cricket Ground,0.3,Australia,England,4.0,7.0,0,3,3,297,10,14.000000
3,64012,Melbourne Cricket Ground,0.4,Australia,England,0.0,7.0,0,4,4,296,10,10.500000
4,64012,Melbourne Cricket Ground,0.5,Australia,England,0.0,7.0,0,5,5,295,10,8.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1544290,1363448,Galle International Stadium,76.5,Ireland,Sri Lanka,0.0,1436.0,76,5,461,0,-12,18.689805
1544291,1363448,Galle International Stadium,76.6,Ireland,Sri Lanka,0.0,1436.0,76,6,462,0,-12,18.649351
1544292,1363448,Galle International Stadium,77.1,Ireland,Sri Lanka,0.0,1436.0,77,1,463,0,-12,18.609071
1544293,1363448,Galle International Stadium,77.2,Ireland,Sri Lanka,0.0,1436.0,77,2,464,0,-13,18.568966
1544294,1363448,Galle International Stadium,77.3,Ireland,Sri Lanka,0.0,1436.0,77,3,465,0,-14,18.529032

In [30]:
groups = data.groupby('match_id')
match_ids = data['match_id'].unique()
last_five = []

for match_id in match_ids:
    match_group = groups.get_group(match_id)
    if 'runs' in match_group.columns:
        rolling_sum = match_group['runs'].rolling(window=30, min_periods=1).sum().values.tolist()
        last_five.extend(rolling_sum)

last_five

[0.0,
 3.0,
 7.0,
 7.0,
 7.0,
 10.0,
 11.0,
 11.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 16.0,
 16.0,
 16.0,
 12.0,
 12.0,
 12.0,
 9.0,
 11.0,
 11.0,
 7.0,
 7.0,
 7.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 9.0,
 9.0,
 12.0,
 11.0,
 11.0,
 8.0,
 12.0,
 12.0,
 12.0,
 12.0,
 9.0,
 10.0,
 12.0,
 12.0,
 12.0,
 11.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 15.0,
 15.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 15.0,
 15.0,
 16.0,
 16.0,
 16.0,
 19.0,
 16.0,
 17.0,
 17.0,
 17.0,
 17.0,
 16.0,
 14.0,
 14.0,
 14.0,
 14.0,
 16.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 21.0,
 24.0,
 24.0,
 24.0,
 28.0,
 28.0,
 28.0,
 28.0,
 25.0,
 24.0,
 23.0,
 23.0,
 23.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 24.0,
 21.0,
 20.0,
 20.0,
 20.0,
 20.0,
 24.0,
 20.0,
 20.0,
 19.0,
 19.0,
 25.0,
 22.0,
 19.0,
 19.0,
 19.0,
 16.0,
 12.0,
 12.0,
 12.0,
 12.0,
 13.0,
 15.0,
 15.0,
 19.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 19.0,
 19.0,
 19.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 11.0,
 11.0,
 14.0,
 14.0,
 14.0,
 13.0,
 13.0,
 14.0,
 16.0,
 16.0,
 15.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 15.0,
 19.0,
 19.0,
 22.0,
 22.0,
 25.0,
 26.0,
 26.0,
 30.0,
 30.0,
 30.0,
 34.0,
 34.0,
 33.0,
 33.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 33.0,
 31.0,
 31.0,
 31.0,
 34.0,
 35.0,
 31.0,
 31.0,
 32.0,
 32.0,
 35.0,
 35.0,
 35.0,
 32.0,
 33.0,
 29.0,
 28.0,
 29.0,
 25.0,
 25.0,
 31.0,
 31.0,
 35.0,
 38.0,
 38.0,
 42.0,
 43.0,
 44.0,
 44.0,
 50.0,
 50.0,
 54.0,
 55.0,
 55.0,
 51.0,
 50.0,
 50.0,
 50.0,
 50.0,
 53.0,
 50.0,
 46.0,
 46.0,
 46.0,
 47.0,
 48.0,
 49.0,
 49.0,
 51.0,
 51.0,
 45.0,
 41.0,
 37.0,
 33.0,
 33.0,
 29.0,
 28.0,
 27.0,
 28.0,
 22.0,
 21.0,
 18.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 16.0,
 13.0,
 13.0,
 13.0,
 15.0,
 15.0,
 13.0,
 12.0,
 11.0,
 10.0,
 10.0,
 11.0,
 15.0,
 21.0,
 21.0,
 25.0,
 25.0,
 25.0,
 29.0,
 29.0,
 28.0,
 32.0,
 29.0,
 28.0,
 28.0,
 28.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 31.0,
 30.0,
 30.0,
 32.0,
 32.0,
 32.0,
 32.0,
 32.0,
 33.0,
 31.0,
 30.0,
 27.0,
 21.0,
 21.0,
 17.0,
 17.0,
 17.0,
 13.0,
 13.0,
 13.0,
 10.0,
 10.0,
 10.0,
 10.0,
 11.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 14.0,
 14.0,
 14.0,
 10.0,
 10.0,
 10.0,
 12.0,
 12.0,
 11.0,
 11.0,
 11.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 9.0,
 9.0,
 10.0,
 10.0,
 10.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 4.0,
 4.0,
 4.0,
 4.0,
 5.0,
 5.0,
 5.0,
 6.0,
 6.0,
 6.0,
 8.0,
 12.0,
 12.0,
 16.0,
 16.0,
 16.0,
 17.0,
 17.0,
 21.0,
 21.0,
 21.0,
 22.0,
 21.0,
 21.0,
 20.0,
 20.0,
 20.0,
 20.0,
 21.0,
 21.0,
 21.0,
 21.0,
 22.0,
 26.0,
 25.0,
 25.0,
 23.0,
 26.0,
 26.0,
 26.0,
 24.0,
 23.0,
 27.0,
 27.0,
 27.0,
 27.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 25.0,
 25.0,
 25.0,
 26.0,
 26.0,
 26.0,
 28.0,
 31.0,
 31.0,
 33.0,
 33.0,
 32.0,
 28.0,
 28.0,
 28.0,
 29.0,
 25.0,
 25.0,
 25.0,
 25.0,
 22.0,
 19.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 11.0,
 11.0,
 12.0,
 12.0,
 12.0,
 12.0,
 11.0,
 11.0,
 12.0,
 12.0,
 8.0,
 9.0,
 7.0,
 11.0,
 15.0,
 16.0,
 16.0,
 16.0,
 15.0,
 15.0,
 15.0,
 15.0,
 17.0,
 21.0,
 24.0,
 28.0,
 29.0,
 29.0,
 29.0,
 29.0,
 29.0,
 29.0,
 29.0,
 29.0,
 32.0,
 32.0,
 32.0,
 32.0,
 32.0,
 31.0,
 31.0,
 30.0,
 30.0,
 26.0,
 22.0,
 21.0,
 22.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 24.0,
 20.0,
 18.0,
 14.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 12.0,
 12.0,
 9.0,
 9.0,
 9.0,
 10.0,
 9.0,
 10.0,
 10.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 13.0,
 9.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 9.0,
 9.0,
 9.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 14.0,
 14.0,
 12.0,
 12.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 7.0,
 7.0,
 7.0,
 8.0,
 8.0,
 8.0,
 12.0,
 16.0,
 16.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 10.0,
 14.0,
 14.0,
 14.0,
 15.0,
 15.0,
 18.0,
 18.0,
 18.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 16.0,
 16.0,
 16.0,
 13.0,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 13.0,
 13.0,
 15.0,
 11.0,
 11.0,
 14.0,
 15.0,
 15.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 14.0,
 15.0,
 15.0,
 15.0,
 17.0,
 17.0,
 18.0,
 18.0,
 22.0,
 22.0,
 22.0,
 21.0,
 21.0,
 23.0,
 23.0,
 23.0,
 23.0,
 19.0,
 19.0,
 17.0,
 17.0,
 17.0,
 14.0,
 12.0,
 14.0,
 14.0,
 15.0,
 15.0,
 15.0,
 15.0,
 14.0,
 15.0,
 18.0,
 22.0,
 21.0,
 21.0,
 20.0,
 20.0,
 17.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 24.0,
 24.0,
 25.0,
 23.0,
 23.0,
 22.0,
 23.0,
 23.0,
 23.0,
 23.0,
 21.0,
 18.0,
 14.0,
 13.0,
 13.0,
 14.0,
 15.0,
 14.0,
 12.0,
 12.0,
 16.0,
 16.0,
 14.0,
 16.0,
 12.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 15.0,
 15.0,
 14.0,
 14.0,
 14.0,
 16.0,
 15.0,
 15.0,
 15.0,
 14.0,
 14.0,
 14.0,
 14.0,
 16.0,
 16.0,
 15.0,
 14.0,
 16.0,
 16.0,
 16.0,
 13.0,
 17.0,
 17.0,
 15.0,
 15.0,
 14.0,
 16.0,
 17.0,
 17.0,
 17.0,
 14.0,
 14.0,
 14.0,
 14.0,
 15.0,
 13.0,
 13.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 18.0,
 18.0,
 20.0,
 20.0,
 22.0,
 23.0,
 23.0,
 23.0,
 22.0,
 18.0,
 19.0,
 19.0,
 19.0,
 19.0,
 17.0,
 16.0,
 17.0,
 18.0,
 22.0,
 23.0,
 24.0,
 25.0,
 24.0,
 24.0,
 25.0,
 24.0,
 24.0,
 24.0,
 24.0,
 28.0,
 25.0,
 23.0,
 21.0,
 21.0,
 19.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 15.0,
 15.0,
 15.0,
 17.0,
 18.0,
 20.0,
 21.0,
 20.0,
 16.0,
 17.0,
 16.0,
 15.0,
 15.0,
 15.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 13.0,
 13.0,
 15.0,
 16.0,
 16.0,
 18.0,
 18.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 21.0,
 21.0,
 19.0,
 19.0,
 21.0,
 19.0,
 19.0,
 21.0,
 20.0,
 20.0,
 21.0,
 21.0,
 22.0,
 19.0,
 19.0,
 19.0,
 23.0,
 23.0,
 23.0,
 22.0,
 20.0,
 23.0,
 24.0,
 22.0,
 24.0,
 22.0,
 23.0,
 23.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 24.0,
 22.0,
 22.0,
 22.0,
 21.0,
 20.0,
 20.0,
 19.0,
 20.0,
 19.0,
 19.0,
 23.0,
 25.0,
 21.0,
 21.0,
 25.0,
 25.0,
 25.0,
 25.0,
 24.0,
 28.0,
 26.0,
 27.0,
 27.0,
 28.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 27.0,
 25.0,
 26.0,
 27.0,
 26.0,
 26.0,
 26.0,
 26.0,
 25.0,
 26.0,
 26.0,
 24.0,
 22.0,
 23.0,
 23.0,
 19.0,
 19.0,
 20.0,
 17.0,
 18.0,
 14.0,
 14.0,
 13.0,
 12.0,
 11.0,
 10.0,
 10.0,
 9.0,
 9.0,
 10.0,
 10.0,
 10.0,
 9.0,
 8.0,
 8.0,
 8.0,
 8.0,
 8.0,
 12.0,
 11.0,
 11.0,
 9.0,
 9.0,
 8.0,
 8.0,
 10.0,
 10.0,
 9.0,
 8.0,
 7.0,
 11.0,
 11.0,
 11.0,
 11.0,
 13.0,
 13.0,
 13.0,
 13.0,
 13.0,
 12.0,
 12.0,
 12.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 8.0,
 8.0,
 12.0,
 12.0,
 12.0,
 8.0,
 8.0,
 12.0,
 12.0,
 10.0,
 10.0,
 11.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 10.0,
 10.0,
 10.0,
 11.0,
 11.0,
 11.0,
 13.0,
 13.0,
 13.0,
 14.0,
 14.0,
 14.0,
 18.0,
 19.0,
 19.0,
 15.0,
 15.0,
 15.0,
 15.0,
 21.0,
 17.0,
 21.0,
 25.0,
 25.0,
 25.0,
 24.0,
 24.0,
 28.0,
 28.0,
 32.0,
 32.0,
 32.0,
 32.0,
 32.0,
 32.0,
 34.0,
 36.0,
 40.0,
 40.0,
 39.0,
 39.0,
 39.0,
 ...]

In [31]:
data['last_five'] = last_five
data

C:\Users\rahul\AppData\Local\Temp\ipykernel_16376\142541684.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['last_five'] = last_five

,match_id,venue,ball,batting_team,bowling_team,runs,cur_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr,last_five
0,64012,Melbourne Cricket Ground,0.1,Australia,England,0.0,0.0,0,1,1,299,10,0.000000,0.0
1,64012,Melbourne Cricket Ground,0.2,Australia,England,3.0,3.0,0,2,2,298,10,9.000000,3.0
2,64012,Melbourne Cricket Ground,0.3,Australia,England,4.0,7.0,0,3,3,297,10,14.000000,7.0
3,64012,Melbourne Cricket Ground,0.4,Australia,England,0.0,7.0,0,4,4,296,10,10.500000,7.0
4,64012,Melbourne Cricket Ground,0.5,Australia,England,0.0,7.0,0,5,5,295,10,8.400000,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1544290,1363448,Galle International Stadium,76.5,Ireland,Sri Lanka,0.0,1436.0,76,5,461,0,-12,18.689805,15.0
1544291,1363448,Galle International Stadium,76.6,Ireland,Sri Lanka,0.0,1436.0,76,6,462,0,-12,18.649351,15.0
1544292,1363448,Galle International Stadium,77.1,Ireland,Sri Lanka,0.0,1436.0,77,1,463,0,-12,18.609071,15.0
1544293,1363448,Galle International Stadium,77.2,Ireland,Sri Lanka,0.0,1436.0,77,2,464,0,-13,18.568966,15.0
1544294,1363448,Galle International Stadium,77.3,Ireland,Sri Lanka,0.0,1436.0,77,3,465,0,-14,18.529032,15.0

In [32]:
final_data = data.groupby('match_id').sum()['runs'].reset_index().merge(data, on='match_id')
final_df = final_data[['batting_team','bowling_team','venue','cur_score','balls_left','wickets_left','crr','last_five','runs_x']]

final_df.dropna(inplace=True)

final_df.isnull().sum()

C:\Users\rahul\AppData\Local\Temp\ipykernel_16376\1276050726.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.dropna(inplace=True)

batting_team    0
bowling_team    0
venue           0
cur_score       0
balls_left      0
wickets_left    0
crr             0
last_five       0
runs_x          0
dtype: int64

In [33]:
final_df = final_df.sample(final_df.shape[0])

In [34]:
final_df.sample(2)

,batting_team,bowling_team,venue,cur_score,balls_left,wickets_left,crr,last_five,runs_x
1244239,Pakistan,Bangladesh,Rawalpindi Cricket Stadium,519.0,0,-3,7.125858,16.0,865.0
613339,India,England,"Sardar Patel Stadium, Motera",276.0,0,7,4.068796,17.0,1248.0

In [35]:
X = final_df.drop(columns=['runs_x'])
y = final_df['runs_x']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [36]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

In [37]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','venue'])]
,remainder='passthrough')

In [38]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=1))
])

In [39]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

c:\Users\rahul\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
c:\Users\rahul\AppData\Local\Programs\Python\Python311\Lib\site-packages\xgboost\data.py:520: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(data):

0.9966735569884745
4.329836139310009

In [40]:
import pickle
pickle.dump(pipe,open('Test_Predictor.pkl','wb'))

In [42]:
with open('Test_Predictor.pkl', 'rb') as f:
    model = pickle.load(f)

In [44]:
print(eligible_venue)

['Galle International Stadium', "Lord's", 'Sydney Cricket Ground', 'Newlands', 'Basin Reserve', 'Adelaide Oval', 'Melbourne Cricket Ground', 'Sinhalese Sports Club Ground', 'Sheikh Zayed Stadium', 'Zahur Ahmed Chowdhury Stadium', 'Dubai International Cricket Stadium', 'Harare Sports Club', 'Kennington Oval', 'SuperSport Park', 'Brisbane Cricket Ground, Woolloongabba', 'Seddon Park', 'Shere Bangla National Stadium', 'Headingley', 'P Sara Oval', 'Kingsmead', 'Old Trafford', 'Edgbaston', 'Trent Bridge', 'Kensington Oval, Bridgetown', 'Western Australia Cricket Association Ground', 'Sabina Park, Kingston', 'Queens Sports Club', 'Eden Gardens', 'Shere Bangla National Stadium, Mirpur', 'Pallekele International Cricket Stadium', "St George's Park", 'The Wanderers Stadium', 'Hagley Oval', 'University Oval', 'Bellerive Oval', "Queen's Park Oval, Port of Spain", 'New Wanderers Stadium', 'Vidarbha Cricket Association Stadium, Jamtha', 'Sharjah Cricket Stadium', 'Rawalpindi Cricket Stadium', 'National Stadium', 'Eden Park', 'The Rose Bowl', 'Punjab Cricket Association Stadium, Mohali', 'Rajiv Gandhi International Stadium, Uppal', 'MA Chidambaram Stadium, Chepauk', 'Windsor Park, Roseau', 'Sir Vivian Richards Stadium, North Sound', 'National Stadium, Karachi', 'M Chinnaswamy Stadium', 'Sardar Patel Stadium, Motera', 'Wankhede Stadium', 'Basin Reserve, Wellington', 'McLean Park', 'Riverside Ground', 'Feroz Shah Kotla', 'Multan Cricket Stadium', 'Green Park', 'Hagley Oval, Christchurch', 'Sheikh Abu Naser Stadium', 'Warner Park, Basseterre', "Lord's, London", 'Zahur Ahmed Chowdhury Stadium, Chattogram', 'Perth Stadium', 'Trent Bridge, Nottingham', 'MA Chidambaram Stadium', 'W.A.C.A. Ground', 'Sophia Gardens', 'Sir Vivian Richards Stadium', 'Headingley, Leeds', 'Kennington Oval, London', 'Edgbaston, Birmingham', 'Queens Sports Club, Bulawayo', 'Gaddafi Stadium', "Antigua Recreation Ground, St John's", 'Antigua Recreation Ground', 'Bay Oval', 'Iqbal Stadium', 'Asgiriya Stadium', 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium', 'Bankstown Oval, Sydney', 'Gaddafi Stadium, Lahore', 'Arun Jaitley Stadium', 'Providence Stadium', 'Arnos Vale Ground, Kingstown', 'Daren Sammy National Cricket Stadium, Gros Islet, St Lucia', 'County Ground, New Road, Worcester', 'Brisbane Cricket Ground', 'Saurashtra Cricket Association Stadium', 'Daren Sammy National Cricket Stadium, Gros Islet', 'Brisbane Cricket Ground, Woolloongabba, Brisbane', "National Cricket Stadium, St George's", "Sir Paul Getty's Ground", 'Sir Vivian Richards Stadium, North Sound, Antigua', 'JSCA International Stadium Complex', 'Punjab Cricket Association IS Bindra Stadium, Mohali', 'Bay Oval, Mount Maunganui', 'Chittagong Divisional Stadium', 'M.Chinnaswamy Stadium', 'Holkar Cricket Stadium', 'Kingsmead, Durban', 'Maharashtra Cricket Association Stadium', 'The Wanderers Stadium, Johannesburg', 'Sabina Park, Kingston, Jamaica', 'AMI Stadium', 'Newlands, Cape Town', 'Khan Shaheb Osman Ali Stadium', 'R Premadasa Stadium', 'Sir Vivian Richards Stadium, Antigua', 'SuperSport Park, Centurion']

In [45]:
print(teams)

['Australia', 'England', 'South Africa', 'Pakistan', 'West Indies', 'Bangladesh', 'Zimbabwe', 'New Zealand', 'India', 'Sri Lanka', 'ICC World XI', 'Ireland', 'Afghanistan']